body{
    background-color: black;
}
/* header{
    top:0;
    position: sticky;
} */

header,
footer{
    background-color: rgb(25, 42, 25);
    display: flex;
    justify-content: center;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
    padding-right: 24px;
    padding-left: 20px;
    height: 120px;
    width: 100%;
    max-width: 1920px;
}

.footer_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    height: 120px;
    width: 100%;
    max-width: 1920px;
}

.logo{
    height: 90%;
    width: 15%;
    min-width: 200px;
}

.logo:hover{
    scale: 1.05;
}

nav{
    display: flex;
    gap: 8px;
}

/* #navbar{
    transition: all 1s ease-in-out;
} */

.burger_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-left: 16px;
}

.burger_menu_icon{
    width: 32px;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

.content_wrapper{
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-image: url(./assets/img/background-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.div_restaurant{
    height: 300px;
    background-image: url(./assets/img/greenfire-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.restaurant_logo{
    width: 20%;
    margin-bottom: -10%;
    border-radius: 10px;
    border: 3px solid rgb(172, 255, 47);
}

.div_stars{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px
}

.star_img{
    width: 20%;
}

.div_content{
    background-color:rgba(11, 40, 11, 0.678);
    width: calc(100% - 350px);
    max-width: calc(1920px - 350px);
    padding: 8px 24px;
}

.single_dish_content{
    margin-bottom: 40px;
    border-bottom: 1px solid  rgba(172, 255, 47, 0.628);
}

.div_single_dish{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_single_dish:hover{
    background-color: rgba(172, 255, 47, 0.628);
    border-radius: 10px;
}

.dish_img{
    width:100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer_logo_link{
    width: fit-content;
    
}
.footer_logo{
    width: 15%;
    min-width: 200px
}

.div_ordered_alert{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.898);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.alert_text_and_btn{
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

@media(max-width: 950px){
    .div_restaurant {
        height: 200px;
    }
    .dish_img{
        width:100%;
        height: 350px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media(max-width: 745px){
    .div_content {
        width: 95%;
        max-width: 1920px;
        padding: 8px 24px;
    }
    .logo {
      width: 200px;
      min-width: 0;
    }
    .footer_logo {
        width: 200px;
        min-width: 0px;
    }
  }

  @media(max-width: 620px){
    .side_links{
        width: 120px;
        text-align: end;
      }
    .logo {
      width: 150px;
      min-width: 0;
    }
    .footer_logo {
        width: 150px;
        min-width: 0px;
    }
    .dish_img{
        width:100%;
        height: 400px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
  }  

  @media(max-width: 450px){
    .logo {
      width: 120px;
      min-width: 0;
    }
    .footer_logo {
        width: 120px;
        min-width: 0px;
    }
    .links_top{
        width: 100px;
        padding: 5%;
        position: absolute;
        right: 24px;
        top: 80px;
        background-color: rgba(0, 0, 0, 0.781);
      }
      .dish_img{
        width:100%;
        height: 250px;
    }
  } 