header,
footer{
    background-color: rgb(98, 98, 98);
    display: flex;
    justify-content: center;
}

.header_content,
.footer_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    width: 100%;
    max-width: 1920px;
}

.logo{
    height: 90%;
    width: 15%;
}

.content_wrapper{
    display: flex;
    justify-content: center;
}
/* height ggf bei div-content und dic-basket rausnehmen */
.div_content{
    background-color: bisque;
    width: calc(100% - 300px);
    max-width: calc(1920px - 300px);
}

.div_single_dish{
    display: flex;
    justify-content: space-between;
}
