.hover:hover{
    cursor: pointer;
}

.div_choose_btn{
    display: flex;
    width: fit-content;
    background-color: rgb(171, 171, 171);
    border-radius: 10px;
}

.choosed_btn{
    border-radius: 0 10px 10px 0;
    background-color: black;
    box-shadow:3px 0px rgba(0, 0, 0, 0.348);
    color: white;
    border: 0;
}

.not_choosed_btn{
    border-radius: 0 0 0 10px;
    background-color: transparent;
    border: 0;
}

.div_trash{
    display: flex;
    justify-content: flex-end;
}

.trash_icon{
    width:90%;
}

.trash_btn{
    background-color: rgba(172, 255, 47, 0.529);
    border: 5px;
    width: 15%;
    border-radius: 100%;
}

.trash_btn:hover{
    background-color: rgba(106, 157, 29, 0.529);
}