.div_basket{
    background-color:rgba(13, 22, 13, 0.763);
    height: auto;
    width: 350px;
    padding: 8px 24px;
}

.sticky_basket{
    top:0;
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 330px;
}

#basket_content{
    height: 500px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(172, 255, 47);
}

.div_basket_content{
    position: relative;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 20px;
}

.added_dish_title{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
}

.dish_title_basket{
    text-align: end;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 8px;
}

.align_amounts{
    display: flex;
}

.div_change_amount{
    display: flex;
    justify-content: space-between;
    flex:1;
}

.price_single_dish{
    flex:1;
    text-align: end;
    margin-top: 8px;
    margin-bottom: 8px;
}

.div_basket_prices{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.div_total_price{
    text-align: end;
    padding: 20px;
}

.div_basket_price_content{
   
   width: 200px
}

.div_plus_minus{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 150px;
}

.div_current_sum,
.div_delivery_costs,
.div_total_sum{
    display: flex;
    justify-content: space-between;
}

.div_total_sum{
    color:rgba(172, 255, 47, 0.628);
}

.div_basket_overlay{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(13, 22, 13);
    height: 400px;
    width: 400px;
    max-width: 1920px;
}

.basket_overlay_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.title_basket_overlay{
    margin-bottom: 8px;
}

.basket_mobile{
    display: none;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.rendered_content_mobile{
    padding: 0 24px;
    overflow-x: hidden;
    height: 600px;
    overflow: auto;
    scrollbar-width: thin;
}

.rendered_price_mobile{
    padding: 0 24px;
}

.div_trash_mobile{
    display: flex;
    justify-content: flex-end;
    padding: 0 24px;
}

.d_none{
    display: none;
}

@media(max-width: 940px){
    .div_basket{   
        padding: 8px 16px;
    }
}

@media(max-width: 770px){
    .div_basket{
        display: none;
    }
    .basket_mobile{
        display: flex;
    }
    .basket_btn{
        width: 100%;
    }
    .sticky_basket_mobile{
        display: flex;
        flex-direction: column;
        
        position: sticky;
        bottom: 0;
        margin-bottom: 24px;
        justify-content: center;
    }
    .div_basket_overlay{
        height: calc(100vh - 100px);
        width: 100%;
        border-radius: 10px;
    }
    .div_trash{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
    }
    .trash_btn{
        width: 50%;
    }
}