.div_basket{
    background-color:rgba(25, 42, 25, 0.818);
    height: 800px;
    width: 300px;
    padding: 8px 24px;
    overflow-x: scroll;
    position: sticky;
    top:0;
}

.div_basket_overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.584);
    height: 100%;
    width: 100%;
    max-width: 1920px;
}

.div_plus_minus{
    display: flex;
    align-items: center;
}

.d_none{
    display: none;
}