.div_basket{
    background-color:rgba(13, 22, 13, 0.763);
    height: 1000px;
    width: 25%;
    padding: 8px 24px;
    overflow-x: scroll;
    position: sticky;
    top:0px;
}

.div_basket_content{
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 16px;
}

.added_dish_title{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dish_title_basket{
    text-align: end;
    flex: 1;
}

.align_amounts{
    display: flex;
}

.div_change_amount{
    display: flex;
    justify-content: space-between;
    flex:1;

}

.price_single_dish{
    flex:1;
    text-align: end;
}

.div_basket_prices{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.div_total_price{
    text-align: end;
}

.div_plus_minus{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 150px;
}

.div_total_sum{
    color:rgba(172, 255, 47, 0.628);
}


.sticky_basket_mobile{

}

.div_basket_overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(13, 22, 13, 0.893);
    height: 400px;
    width: 400px;
    max-width: 1920px;
}

.basket_overlay_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.basket_mobile{
    display: none;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.d_none{
    display: none;
}

@media(max-width: 1100px) {
    .basket_content_placeholder{
        text-align: center;
    }
}

@media(max-width: 800px){
    .div_basket{
        display: none;
    }
    .basket_mobile{
        display: flex;
    }
    .basket_btn{
        width: 100%;
    }
    .sticky_basket_mobile{
        display: flex;
        flex-direction: column;
        
        position: sticky;
        bottom: 0;
        margin-bottom: 24px;
        justify-content: center;
    }
    .div_basket_overlay{
        height: 80vh;
        width: 100%;
        border-radius: 10px;
    }
    .div_trash{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
    }
    .trash_btn{
        width: 50%;
    }
}