/* sour-gummy-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-100';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/sour-gummy/sour-gummy-v1-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-200 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-200';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/sour-gummy-v1-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-300';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/sour-gummy-v1-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-regular';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/sour-gummy-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-500';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/sour-gummy-v1-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-600';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/sour-gummy-v1-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

h1{
    font-family: 'sour-gummy-v1-latin-100';
    font-size: 56px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 40px;
}

#main_dish_title,
#side_dish_title,
#drinks_title{
  border-bottom: 3px solid  rgba(172, 255, 47, 0.628);
}

.side_links{
  font-size: 28px;
}