/* sour-gummy-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-100';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/sour-gummy/sour-gummy-v1-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-200 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-200';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/sour-gummy-v1-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-300';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/sour-gummy-v1-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-regular';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/sour-gummy-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-500';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/sour-gummy-v1-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sour-gummy-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'sour-gummy-v1-latin-600';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/sour-gummy-v1-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

h1{
    font-family: 'sour-gummy-v1-latin-100';
    font-size: 56px;
    margin-bottom: 8px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 40px;
}

#main_dish_title,
#side_dish_title,
#drinks_title{
  border-bottom: 3px solid  rgba(172, 255, 47, 0.628);
}

.side_links{
  font-size: 28px;
}

.delivery_info{
  font-size: 18px;
}

.div_basket_content,
.div_total_price,
.basket_content_placeholder{
  font-size: 20px;
}

.basket_title{
  text-align: center;
  font-size: 32px;
}

@media(max-width: 800px){
  h1{
    font-size: 48px;
  }

  h2{
    font-size: 40px;
  }
  h3{
    font-size: 32px;
  }
  .content_text,
  .div_stars,
  .restaurant_info,
  button{
    font-size: 24px;
  }
  a{
    font-size: 20px;
  }
}

@media(max-width: 450px){
  h1{
    font-size: 40px;
  }

  h2{
    font-size: 32px;
  }
  h3{
    font-size: 26px;
  }
  .content_text,
  .div_stars,
  .restaurant_info,
  button{
    font-size: 20px;
  }
  a{
    font-size: 18px;
  }
}