html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "sour-gummy-v1-latin-100";
  font-weight: 300;
  font-size: 28px;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

a:hover {
  cursor: pointer;
  color: greenyellow;
}

.side_links{
  font-size: 24px;
}